<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Aryzac.Security" version="1.0.0-pre.1" includeAssets="none" supportedClientVersions="[4.4.0-a,5.0.0)" />
  <module moduleId="Endura.Nuxt" version="1.0.0-pre.4" supportedClientVersions="[4.5.21-a,5.0.0)" />
  <module moduleId="Intent.Application.Contracts" version="5.1.2" includeAssets="none" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.DependencyInjection" version="4.1.13" includeAssets="none" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.DependencyInjection.MediatR" version="3.6.3" includeAssets="none" supportedClientVersions="[4.0.3-pre.6, 5.0.0-a)" />
  <module moduleId="Intent.Application.DomainInteractions" version="1.1.9" includeAssets="none" supportedClientVersions="[4.5.15-a,5.0.0)" />
  <module moduleId="Intent.Application.Dtos" version="4.4.7" includeAssets="none" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.FluentValidation" version="3.11.6" includeAssets="none" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.FluentValidation.Dtos" version="3.12.5" includeAssets="none" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.MediatR" version="4.5.3" includeAssets="none" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.MediatR.CRUD" version="7.1.3" includeAssets="none" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.MediatR.CRUD.Eventing" version="5.2.0" includeAssets="none" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.MediatR.FluentValidation" version="4.9.6" includeAssets="none" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.ServiceImplementations" version="4.5.14" includeAssets="none" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore" version="6.1.4" includeAssets="none" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.Controllers" version="7.1.8" includeAssets="none" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.Controllers.Dispatch.MediatR" version="6.1.2" includeAssets="none" supportedClientVersions="[4.3.9-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.Controllers.Dispatch.ServiceContract" version="5.2.19" includeAssets="none" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.OutputCaching.Redis" version="1.1.13" includeAssets="none" supportedClientVersions="[4.2.4, 5.0.0-a)" />
  <module moduleId="Intent.Code.Weaving.TypeScript" version="1.0.2" supportedClientVersions="[4.1.0-beta.21,5.0.0)" />
  <module moduleId="Intent.Common" version="3.9.2" supportedClientVersions="[4.5.21-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.9.12" includeAssets="none" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="4.1.2" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.TypeScript" version="4.1.2" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Common.UnitOfWork" version="1.0.3" supportedClientVersions="[4.4.0-a,5.0.0)" />
  <module moduleId="Intent.DomainServices" version="1.1.13" includeAssets="none" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Entities" version="5.1.15" includeAssets="none" supportedClientVersions="[4.3.3, 5.0.0-a)" />
  <module moduleId="Intent.Entities.Repositories.Api" version="5.1.10" includeAssets="none" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.EntityFrameworkCore" version="5.0.35" includeAssets="none" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
  <module moduleId="Intent.EntityFrameworkCore.Repositories" version="4.7.17" includeAssets="none" supportedClientVersions="[4.5.15-a,5.0.0)" />
  <module moduleId="Intent.Eventing.Contracts" version="6.1.0" includeAssets="none" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
  <module moduleId="Intent.Eventing.Contracts.DomainMapping" version="4.3.0" includeAssets="none" supportedClientVersions="[4.0.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Eventing.MassTransit" version="7.1.0" includeAssets="none" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Eventing.MassTransit.EntityFrameworkCore" version="5.3.0" includeAssets="none" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Metadata.ApiGateway" version="1.0.0-beta.4" includeAssets="applicationSettings;designerMetadata;factoryExtensions" supportedClientVersions="[4.5.0-a,5.0.0)" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.7.9" includeAssets="none" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Metadata.Security" version="1.1.2" includeAssets="applicationSettings;designerMetadata;factoryExtensions" supportedClientVersions="[4.5.0-a,5.0.0)" />
  <module moduleId="Intent.Metadata.WebApi" version="4.7.17" includeAssets="applicationSettings;designerMetadata;factoryExtensions" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain" version="3.12.11" includeAssets="applicationSettings;designerMetadata;factoryExtensions" supportedClientVersions="[4.5.9-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain.Events" version="4.4.5" includeAssets="none" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain.Repositories" version="3.6.1" includeAssets="none" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain.Services" version="1.3.0" includeAssets="none" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain.ValueObjects" version="3.6.2" includeAssets="none" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Eventing" version="6.0.3" includeAssets="none" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.ServiceProxies" version="5.2.3" includeAssets="applicationSettings;designerMetadata;factoryExtensions" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services" version="4.0.8" includeAssets="applicationSettings;designerMetadata;factoryExtensions" supportedClientVersions="[4.5.8-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services.CQRS" version="6.0.4" includeAssets="applicationSettings;designerMetadata;factoryExtensions" supportedClientVersions="[4.5.8-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services.DomainInteractions" version="2.3.11" includeAssets="none" supportedClientVersions="[4.5.8-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services.EventInteractions" version="2.0.4" includeAssets="none" supportedClientVersions="[4.5.18-a,5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services.ProxyInteractions" version="1.1.5" includeAssets="none" supportedClientVersions="[4.5.0-a,5.0.0)" />
  <module moduleId="Intent.Modelers.Types.ServiceProxies" version="5.5.3" includeAssets="applicationSettings;designerMetadata;factoryExtensions" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.UI" version="1.0.4" includeAssets="applicationSettings;designerMetadata;factoryExtensions" supportedClientVersions="[4.3.0-beta.4, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.UI.Core" version="1.0.0" includeAssets="none" supportedClientVersions="[4.3.0-beta.4,5.0.0)" />
  <module moduleId="Intent.Modules.Modelers.Domain.StoredProcedures" version="1.1.3" includeAssets="none" supportedClientVersions="[4.3.0-a, 5.0.0)" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.9.16" includeAssets="none" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.OutputTargets.Folders" version="3.4.1" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.QuartzScheduler" version="1.0.12" includeAssets="none" supportedClientVersions="[4.3.0-a,5.0.0)" />
  <module moduleId="Intent.UnitTesting" version="1.0.4" includeAssets="none" supportedClientVersions="[4.5.18-a,5.0.0)" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.9.9" includeAssets="none" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
</modules>