<?xml version="1.0" encoding="utf-8"?>
<package id="26e6787d-3fd1-47a9-a615-8c599158ca91" type="Client" typeId="09decaef-4f50-4849-80cd-b008d43edef8">
  <applicationId>650a592e-136d-4adc-ad22-5105c36e75c8</applicationId>
  <designerId>ea5a1e6e-1d3d-42bc-adac-c191d23b3f9f</designerId>
  <name>Client</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <sort-children>by-type-then-by-name</sort-children>
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="8b314f4d-d7e9-499f-8501-f6e77ad67a5b" include="Endura.Nuxt" isExternal="true">
      <module>Endura.Nuxt</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="2debfc4c-f15d-47a6-88c1-8597b2ca8e50" include="Intent.Common.TypeScript" isExternal="true">
      <module>Intent.Common.TypeScript</module>
    </reference>
    <reference packageId="64fccd19-d09e-42d5-8d36-dcfd955eb5a9" include="Nullbox.Fabric.Aliases.Gateway" isExternal="true">
      <addedByUser>true</addedByUser>
      <path>../../../../Nullbox/Intent.Metadata/Services/Nullbox.Fabric.Aliases.Gateway/Nullbox.Fabric.Aliases.Gateway.pkg.config</path>
    </reference>
    <reference packageId="11f8f7c0-da5d-42ce-acc1-51c0b2337010" include="Nullbox.Fabric.Dashboards.Gateway" isExternal="true">
      <addedByUser>true</addedByUser>
      <path>../../../../Nullbox/Intent.Metadata/Services/Nullbox.Fabric.Dashboards.Gateway/Nullbox.Fabric.Dashboards.Gateway.pkg.config</path>
    </reference>
    <reference packageId="a1469044-50c0-4aba-ba6a-179d9b77838d" include="Nullbox.Fabric.Mailboxes.Gateway" isExternal="true">
      <addedByUser>true</addedByUser>
      <path>../../../../Nullbox/Intent.Metadata/Services/Nullbox.Fabric.Mailboxes.Gateway/Nullbox.Fabric.Mailboxes.Gateway.pkg.config</path>
    </reference>
    <reference packageId="2825b843-98a2-4e36-b44b-4e66485731da" include="Nullbox.Security.Users.Gateway" isExternal="true">
      <addedByUser>true</addedByUser>
      <path>../../../../Nullbox/Intent.Metadata/Services/Nullbox.Security.Users.Gateway/Nullbox.Security.Users.Gateway.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>